<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sun.tweetfiltrr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <!--android:theme="@style/Theme.Twitterfiltertheme" >-->
    <!--android:theme="@style/Theme.TranslucentActionBar"-->
    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme">
        <activity
            android:name=".activity.activities.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MyCustomTheme"
            android:name=".activity.activities.TwitterFilttrLoggedInUserHome"
            android:label="@string/app_name"
            >

            <!--android:theme="@style/Theme.Sherlock.Light.NoActionBar" >-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="twitterfiltrr.Twitter_oAuth"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activities.TweetConversation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            >

            <!--android:theme="@style/Theme.Sherlock.Light.NoActionBar" >-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragments.SettingsScreen"
            android:label="@string/app_name"
            android:noHistory="true" >

        </activity>

        <!--android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" "@style/Theme.Sherlock.Light" -->
        <activity
            android:name=".activity.activities.TwitterFilttrUserHome"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activities.KeywordGroupScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.fragments.EditKeywordGroupTab"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan"
            >

            <!--android:theme="@style/Theme.Sherlock.Light.NoActionBar" >-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.activities.PostTweetActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"
            >

            <!--android:theme="@style/Theme.Sherlock.Light.NoActionBar" >-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

            </intent-filter>
        </activity>

        <provider
            android:name=".database.providers.TweetFiltrrProvider"
            android:authorities="com.tweetfiltrr.database.TweetFiltrrProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <receiver
            android:name="com.sun.tweetfiltrr.alarm.TwitterBootReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sun.tweetfiltrr.alarm.TwitterUpdateReceiver" >
            <intent-filter>
                <action android:name="com.tweetfilttr.android.TwitterUpdateReceiver" />
            </intent-filter>
        </receiver>

        <service android:name="com.sun.tweetfiltrr.alarm.TwitterUpdateService" />
    </application>

</manifest>
